/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: black;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

nav ul li a:hover {
    background-color: #444;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
}

/* Main content area */
main {
    padding: 20px;
}
/* Profile section styles */
.profile-section-1 {
    text-align: center;
    margin: 20px 0;
}

.profile-image {
    max-width: 200px; /* Increased size */
    width: 100%; /* Ensure it scales */
    height: auto; /* Maintain aspect ratio */
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.profile-details {
    margin-top: 20px;
}

/* Profile section styles */
.profile-section {
    text-align: center;
    margin: 20px 0;
}



/* Common styles for profile backgrounds */
.profile-background, .profile-background-1 {
    background-size: cover;
    background-position: center;
    height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-family: 'Arial', sans-serif; /* Optional: use a professional font */
}


/* Specific background styles */
.profile-background {
    background-image: url('b5d65521-c32b-4c37-995c-d61505e3050d.jpeg'); /* Path to the profile image */
}

.profile-background-1 {
    background-image: url('IMG_3742.jpeg'); /* Path to the profile image */
}

.profile-details h2, .profile-details p {
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
    padding: 10px;
    border-radius: 5px;
}

/* Blog posts */
article {
    background-color: rgba(0, 0, 0, 0.7); /* Dark background for blog posts */
    color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

article h3 {
    margin-top: 0;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.button:hover {
    background-color: #0ff;
    color: #000;
}
